/* 
    Autor: Castro Cisneros Hiralda
    E-mail:hiraldac.cisneros@gmail.com
    Fecha Creaci칩n: 27/05/2019
    Descripci칩n: CSS para modificaciones de colores.
    
*/

/* encabezado */
.top-area {
    background: -webkit-linear-gradient(to right, #670300, #9A3633); 
    background: linear-gradient(to right, #670300, #9A3633);  
    /*texto*/
    color: #FFFF99;
    text-shadow: 2px 2px 2px #000000;
}
/*mouse sobre los links*/
.navbar-custom ul.nav li a:hover { 
    color: #9A3633;
    font-size: 16px;
}

/*todos los botones*/
.btn {
    color: #fff;
    background-color: #670300;
    border-color: #670300;
}

/*sobrepasar un boton-success*/
.btn-success:hover, .btn-success:focus, .btn-success:active {
    color: #fff;
    background-color: #000;
    border-color: #670300;
    background: -webkit-linear-gradient(top, #CD6966, #670300);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(top, #CD6966, #670300); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.btn-danger {
    color: #fff;
    background-color: #670300;
    border-color: #670300;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active {
    color: #fff;
    background-color: #000;
    border-color: #670300;
    background: -webkit-linear-gradient(top, #CD6966, #670300);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(top, #CD6966, #670300); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.btn-block:hover{
    color: #fff;
    background-color: #000;
    border-color: #670300;
    background: -webkit-linear-gradient(top, #CD6966, #670300);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(top, #CD6966, #670300); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */}
.pagination>li> a{
    border-radius: 50%;
    margin: 0 2px;
}

/*sobre pagination activo*/
.pagination>.active>a, .pagination>.active>span,  .pagination>.active>a:hover, .pagination>.active>a:active{
    color: #ff9;
    background-color: #670300;
    border:none;
}
/*sobre pagination seleccionado*/
.pagination>.active>a:focus{
    color: #ff9;
    background-color: #670300;
    border:none;
}

/*pagination normal*/
.pagination>li>a, .pagination>li>span {
    color: #670300;
    background-color: #fff;
    border:none;
}

/*sobre la paginacion que no esta en modo active*/
.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus, .pagination>li>a:active, .pagination>li>span:active {
    z-index: 2;
    cursor: default;
    color:#670300;
    background-color: white;
    border: none;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.8);
}

/*dise침o de la cabecera de la tabla*/
table > thead {
    background: #ff9;
    font-weight: bold;  
    color: #670300;
}

/*redise침o del cuerpo de la tabla*/
table > tbody > tr:nth-child(odd) > td,
table > tbody > tr:nth-child(odd) > th {
  background-color: rgba(250,250,250,1);
}
table > tbody > tr:nth-child(even) > td,
table > tbody > tr:nth-child(even) > th {
  background-color: rgba(240,240,240,1);
}

/*contenedor de la tabla y la paginacion*/
.container-table{
    background-color: rgb(255,255,255);
    padding: 0 20px;
}
.col-md-12{
    float: none;
    padding: 0;
}
.pagination-lg > li:first-child,.pagination-lg > li:first-child >a,.pagination-lg > li:last-child,.pagination-lg > li:last-child >a{
    border-radius: 50%;
    background-color: transparent;
}

.pager{
    margin: 5px 30px;
}
.intro-content{
    padding: 200px 10% 60px;
}
.bg-skin {
    background: #670300;
}