/*
 * Autor: Belisario Nazario Anselmo
 * E-mail: unsis.b@gmail.com
 * Fecha Creación: 06/05/2019
 * Fecha Modificación: 09/05/2019
 * Descripción: estilo para el modulo de usuario.
 */

.img-logo-modal-header {
    height: 90px; 
    width: 90px; 
    border-radius: 50px;
    margin-top: -50px;
}

.table-responsive1 {height:280px;}

