
/*reestructurar el codigo*/
.intro-content {
	background: url(../img/fondo-intro1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;

}

.modal-dialog {
    margin-top: 70px;
}
