/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6/05/2019, 07:30:04 PM
    Author     : labtw04
*/

.img-logo-modal-header {
    height: 90px; 
    width: 90px; 
    border-radius: 50px;
    margin-top: -50px;
}

.table-responsive {height:280px;}